.card {
  composes: pb-20 from global;

  max-width: 640px;
  margin: 0 auto;
  color: #f2f2f3;
}

.header {
  composes: pb-15 from global;
}

.id {
  composes: text_type_digits-default text mb-10  from global;

  text-align: center;
}

.title {
  composes: text text_type_main-medium mb-3 from global;
}

.status {
  composes: text text_type_main-default from global;
}

.structure-title {
  composes: text text_type_main-medium mb-6 from global;
}

.list {
  composes: list-reset pr-6 from global;
}

.item {
  composes: mb-4 from global;
}

.item:last-child {
  margin-bottom: 0;
}

.ingredient {
  display: flex;
  align-items: center;
}

.ingredient-name {
  composes: text_type_main-default text ml-4 pr-6 from global;

  max-width: 300px;
  margin-right: auto;
}

.price {
  composes: text text_type_digits-default from global;

  display: flex;
  align-items: center;
}

.price > svg {
  margin-left: 9px;
}

.footer {
  composes: pt-10 from global;

  display: flex;
  justify-content: space-between;
}

.time-wrapper {
  composes: text from global;
}

.time {
  composes: text_type_main-default from global;

  color: var(--text-inactive-color);
}
