.section {
  composes: pt-5 pr-2 pl-4 from global;

  width: 600px;
  display: flex;
  flex-direction: column;
}

.ingredients {
  composes: pb-10 from global;

  margin-right: -11px;
}

.list {
  composes: list-reset pt-4 pr-2 from global;

  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
}

.item_mb-4 {
  composes: mb-4 from global;
}

.item > svg {
  margin-right: 8px;
}

.helper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.price {
  composes: mr-10 text text_type_digits-medium from global;
}

.price > svg {
  width: 33px;
  height: 33px;
}


/* normalize for lib. components */
.section :global(.constructor-element) {
  display: block;
  max-width: 100%;
  width: 100%;
}

.section :global(.constructor-element_pos_top),
.section :global(.constructor-element_pos_bottom) {
  display: block;
  max-width: calc(100% - 51px);
  margin-left: 32px;
}

.section :global(.constructor-element_pos_bottom) {
  margin-top: 16px;
}

.section :global(.constructor-element__price) {
  margin-left: auto;
}