.section {
  composes: pt-5 pr-2 pl-4 from global;

  width: 600px;
  display: flex;
  flex-direction: column;
}

.ingredients {
  composes: pb-10 from global;

  margin-right: -11px;
}

.ingredientsData {
  composes: pb-10 pt-10 from global;

  position: relative;

  border-radius: 80px;

  transition: all 0.2s ease;
}

.ingredientsData::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image:
    linear-gradient(63.18deg, #801ab3 0%, var(--colors-interface-accent) 100%);
  opacity: 0;
  border-radius: 80px;
  z-index: -100;
  transition: opacity 0.2s ease;
}

.canDrop::before {
  opacity: 0.8;
}

.ingredientInflight {
  box-shadow:
    0px 0px 16px 8px rgba(51, 51, 255, 0.25),
    0px 0px 8px 8px rgba(51, 51, 255, 0.25);
  filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}

.ingredientInflight::before {
  opacity: 1;
}

.list {
  composes: list-reset pr-2 from global;

  display: flex;
  flex-wrap: wrap;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 455px;

  border: 2px dashed var(--colors-interface-accent);
  border-radius: 40px;
}

.placeholder-text {
  composes: text_type_main-default from global;

  text-align: center;
}

.item {
  width: 100%;
}

.item + .item {
  margin-top: 16px;
}

.helper {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 20px;
}

.helper > p {
  margin-right: 40px;
}

/* normalize for lib. components */
.section :global(.constructor-element) {
  display: block;
  max-width: 100%;
  width: 100%;
}

.section :global(.constructor-element_pos_top),
.section :global(.constructor-element_pos_bottom) {
  display: block;
  max-width: calc(100% - 51px);
  margin-left: 32px;
}

.section :global(.constructor-element_pos_top) {
  margin-bottom: 16px;
}

.section :global(.constructor-element_pos_bottom) {
  margin-top: 16px;
}

.section :global(.constructor-element__price) {
  margin-left: auto;
}
