.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
	width: 12px;
}
.scroll::-webkit-scrollbar-track {
	background: var(--background-element);
}
.scroll::-webkit-scrollbar-thumb {
	background: var(--text-inactive-color);
	border: 3px solid var(--background-element);
	border-radius: 6px;
}
