.form {
  composes: pt-20 from global;

  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 69%;
}
