@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.nav-link {
  display: flex;

  align-items: center;
  padding: 20px;

  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;

  color:var(--text-inactive-color);
}

.nav-link:hover {
  color: #F2F2F3;
}

.nav-link.active {
  color: #F2F2F3;
}

.nav-link svg {
  margin-right: 8px;
}

.nav-link:hover svg,
.nav-link.active svg{
  fill: #F2F2F3;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.success {
  color: var(--colors-interface-success);
}

.error {
  color: var(--colors-interface-error);
}
