.card {
  min-height: 100%;
  text-align: center;
}

.price {
  composes: text_type_digits-default text mb-2 from global;

  display: flex;
  align-items: center;
  justify-content: center;
}

.price svg {
  margin-left: 8px;
}